<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="æŽ²ç¤ºæ¿ã‹ã‚‰ç”»åƒã‚’æ¤œç´¢æ¤œç´¢ðŸ˜">
    <!-- OGP -->
    <meta property="og:title" content="2chPics">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://pics.nikuja.ga">
    <meta property="og:site_name" content="2chPics">
    <meta property="og:description" content="æŽ²ç¤ºæ¿ã‹ã‚‰ç”»åƒã‚’æ¤œç´¢æ¤œç´¢ðŸ˜">
    <meta property="fb:app_id" content="1897775520483008">
    <meta name="twitter:card" content="summary">
    <!-- /OGP -->
    <title>Piccolle</title>
    <script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="/bower_components/polymer/polymer-element.html">
    <link rel="import" href="/bower_components/iron-location/iron-location.html">
    <link rel="import" href="/bower_components/app-layout/app-layout.html">
    <link rel="import" href="/bower_components/app-layout/app-scroll-effects/effects/waterfall.html">
    <link rel="import" href="/bower_components/paper-input/paper-input.html">
    <link rel="import" href="/bower_components/iron-icons/iron-icons.html">
    <link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
    <link rel="import" href="/bower_components/iron-scroll-threshold/iron-scroll-threshold.html">
    <link rel="import" href="/bower_components/paper-spinner/paper-spinner.html">
    <style is="custom-style">
    body {
        margin: 0;
    }
    </style>
</head>
<body>
    <dom-module id="x-app">
        <template>
            <style>
            app-toolbar {
                background-color: #ECEFF1;
                --app-toolbar-font-size: 24px;
            }
            app-toolbar paper-input {
                width: 100%;
            }
            img {
                max-width: 100%;
                max-height: 100vh;
            }
            .flex-center-justfied {
                @apply --layout-horizontal;
                @apply --layout-center-justified;
            }
            </style>

            <iron-location
                hash="{{str}}"
                dwell-time="5000"
            ></iron-location>

            <app-header-layout>
                <app-header slot="header" condenses fixed effects="waterfall">
                    <app-toolbar>
                        <div main-title>2chPics</div>
                    </app-toolbar>
                    <app-toolbar sticky>
                        <paper-input label="æ¬²æœ›ã®ã¾ã¾ã«" value="{{str}}" no-label-float autofocus>
                            <iron-icon slot="prefix" icon="search"></iron-icon>
                        </paper-input>
                    </app-toolbar>
                </app-header>
            </app-header-layout>

            <iron-ajax auto
                url="/search"
                params="[[formatParams(str, n)]]"
                debounce-duration="1000"
                loading="{{loading}}"
                on-response="handleResponse"
                last-response="{{imgs}}"
            ></iron-ajax>

            <template is="dom-repeat" items="[[arr]]">
                <img src="[[item.src]]">
            </template>
            <div class="flex-center-justfied">
                <paper-spinner active="[[loading]]"></paper-spinner>
            </div>

            <iron-scroll-threshold id="scrollThreshold"
                scroll-target="document"
                lower-threshold="500"
                lower-triggered="{{lowerTriggered}}"
                on-lower-threshold="loadMoreData"
            ></iron-scroll-threshold>
        </template>

        <script>
        HTMLImports.whenReady(function() {
        class XApp extends Polymer.Element {
            static get is() { return 'x-app'; }
            static get properties() {
                return {
                    str: {
                        type: String,
                        value: '',
                        observer: '_strChanged'
                    },
                    loading: {
                        type: Boolean,
                        value: false
                    },
                    n: {
                        type: Number,
                        value: 1
                    },
                    arr: {
                        type: Array,
                        value: []
                    },
                    flag: {
                        type: Boolean,
                        value: true
                    }
                }
            }

            formatParams(str, n) {
                return {"str": str, "n": n};
            }
            //Ajaxå®Ÿè¡Œæ™‚
            handleResponse() {
                console.log("Search str:" + this.str + ", n:" + this.n);
                this._pushPics('ajax');
            }
            //æœ€ä¸‹éƒ¨åˆ°é”æ™‚
            loadMoreData() {
                this._pushPics('loadmore');
                this.$.scrollThreshold.clearTriggers();
            }

            _strChanged() {
                if(this.arr && this.arr.length > 0) this.splice('arr', 0, this.arr.length);
                this.flag = false;
                this.n = 1;
                document.getElementsByTagName("title")[0].innerHTML = '2chPics' + (this.str != '' ? ' - '+this.str : '');
            }
            _pushPics(from) {
                if(this.str == "") return;
                if(!this.flag && from == 'loadmore'){
                    this.flag = true;
                    return;
                }
                for(let i = 0; i < 10; i++) {
                    if(!this.imgs || this.imgs.length == 0 && !this.loading) {
                        this.n++;
                        return;
                    }
                    this.push('arr', this.shift('imgs'));
                }
            }
        }
        customElements.define(XApp.is, XApp);
        });
        </script>
    </dom-module>
    <x-app></x-app>
</body>
</html>
