<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piccolle ver.3</title>
    <script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>
    <link rel="import" href="/bower_components/polymer/polymer.html">
    <link rel="import" href="/bower_components/app-layout/app-layout.html">
    <link rel="import" href="/bower_components/paper-input/paper-input.html">
    <link rel="import" href="/bower_components/iron-icons/iron-icons.html">
    <link rel="import" href="/bower_components/paper-progress/paper-progress.html">
    <link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
    <link rel="import" href="/bower_components/polymer/lib/elements/dom-repeat.html">
    <link rel="import" href="/bower_components/iron-scroll-threshold/iron-scroll-threshold.html">
    <link rel="import" href="/src/x-search.html">
    <style is="custom-style">
    body {
        margin: 0;
    }
    </style>
</head>
<body>
    <dom-module id="x-app">
        <template>
            <style>
            app-toolbar {
                background-color: #ECEFF1;
                --app-toolbar-font-size: 24px;
            }
            app-toolbar paper-input {
                width: 100%;
            }
            paper-progress {
                display: block;
                width: 100%;
                --paper-progress-active-color: rgba(66, 133, 244, 0.5);
                --paper-progress-container-color: transparent;
            }
            img {
                max-width: 100%;
                max-height: 100vh;
            }
            </style>
            <app-header-layout>
                <app-header slot="header" reveals>
                    <app-toolbar>
                        <paper-input label="欲望のままに" no-label-float value="{{str}}">
                            <iron-icon slot="prefix" icon="search"></iron-icon>
                        </paper-input>
                        <paper-progress indeterminate bottom-item></paper-progress>
                    </app-toolbar>
                </app-header>
            </app-header-layout>

            <iron-ajax auto
                url="/search"
                params="[[_formatParams(str, n)]]"
                debounce-duration="1000"
                loading="{{loading}}"
                last-response="{{imgs}}"
            ></iron-ajax>

            <template is="dom-repeat" items="[[imgs]]">
                <img src="[[item.src]]">
            </template>

            <iron-scroll-threshold id="scrollThreshold"
                scroll-target="document"
                lower-threshold="500"
                lower-triggered="{{lowerTriggered}}"
                on-lower-threshold="_loadMoreData"
            ></iron-scroll-threshold>
        </template>

        <script>
        class XApp extends Polymer.Element {
            static get is() { return 'x-app'; }
            static get properties() {
                return {
                    str: {
                        type: String,
                        value: ''
                    },
                    n: {
                        type: Number,
                        value: 3
                    },
                    imgs: Array
                }
            }
            _formatParams(str, n) {
                return {"str": str, "n": n};
            }
            _loadMoreData() {
                console.log("Load!");
                this.$.scrollThreshold.clearTriggers();
            }
        }
        customElements.define(XApp.is, XApp);
        </script>
    </dom-module>
    <x-app></x-app>
</body>
</html>
