<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piccolle ver.3</title>
    <script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>
    <link rel="import" href="/bower_components/polymer/polymer.html">
    <link rel="import" href="/bower_components/app-layout/app-layout.html">
    <link rel="import" href="/bower_components/paper-input/paper-input.html">
    <link rel="import" href="/bower_components/iron-icons/iron-icons.html">
    <link rel="import" href="/bower_components/paper-progress/paper-progress.html">
    <link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
    <link rel="import" href="/bower_components/iron-scroll-threshold/iron-scroll-threshold.html">
    <style is="custom-style">
    body {
        margin: 0;
    }
    </style>
</head>
<body>
    <dom-module id="x-app">
        <template>
            <style>
            app-toolbar {
                background-color: #ECEFF1;
                --app-toolbar-font-size: 24px;
            }
            app-toolbar paper-input {
                width: 100%;
            }
            paper-progress {
                display: block;
                width: 100%;
                --paper-progress-active-color: rgba(66, 133, 244, 0.5);
                --paper-progress-container-color: transparent;
            }
            img {
                max-width: 100%;
                max-height: 100vh;
            }
            </style>
            <app-header-layout>
                <app-header slot="header" reveals>
                    <app-toolbar>
                        <paper-input label="欲望のままに" no-label-float value="{{str}}">
                            <iron-icon slot="prefix" icon="search"></iron-icon>
                        </paper-input>
                        <template is="dom-if" if="[[loading]]">
                            <paper-progress indeterminate bottom-item></paper-progress>
                        </template>
                    </app-toolbar>
                </app-header>
            </app-header-layout>

            <iron-ajax auto
                url="/search"
                params="[[formatParams(str, n)]]"
                debounce-duration="1000"
                loading="{{loading}}"
                on-response="handleResponse"
                last-response="{{imgs}}"
            ></iron-ajax>

            <template is="dom-repeat" items="[[arr]]">
                <img src="[[item.src]]">
            </template>

            <iron-scroll-threshold id="scrollThreshold"
                scroll-target="document"
                lower-threshold="500"
                lower-triggered="{{lowerTriggered}}"
                on-lower-threshold="loadMoreData"
            ></iron-scroll-threshold>
        </template>

        <script>
        class XApp extends Polymer.Element {
            static get is() { return 'x-app'; }
            static get properties() {
                return {
                    str: {
                        type: String,
                        value: ''
                    },
                    loading: {
                        type: Boolean,
                        value: false
                    },
                    n: {
                        type: Number,
                        value: 1
                    },
                    arr: {
                        type: Array,
                        value: []
                    }
                }
            }
            formatParams(str, n) {
                return {"str": str, "n": n};
            }
            handleResponse() {
                this._pushPics();
            }
            loadMoreData() {
                this._pushPics();
                if(!this.imgs || this.imgs.length == 0) {
                    this.n++;
                    console.log(this.n);
                }
                this.$.scrollThreshold.clearTriggers();
            }

            _pushPics() {
                console.log("Load");
                for(let i = 0; i < 10; i++) {
                    console.log(this.imgs);
                    if(!this.imgs || this.imgs.length == 0) return;
                    this.push('arr', this.shift('imgs'));
                }
            };
        }
        customElements.define(XApp.is, XApp);
        </script>
    </dom-module>
    <x-app></x-app>
</body>
</html>
